




.contactsBox{
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;
}

@media only screen and (max-width:1024px) {
    .contactsBox_items{
        display: flex;
        align-items: center;
        gap: 8px;
        background: #F9D342;
        border-radius: 12px;
        padding: 15px;
        font-size: 12px;
        width: 85% !important;
        justify-content: center;
        font-weight: bold;
        box-shadow: 0 0 5px #292826;
    }
    .contact_info{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0 0 0 35px !important;
        width: 80%;
    }
}


.contactsBox_items{
    display: flex;
    align-items: center;
    gap: 8px;
    background: #F9D342;
    border-radius: 12px;
    padding: 15px;
    width: 25%;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 0 5px #292826;
}

.avataar_box{
    display: flex;
    justify-content: center;
    padding: 0 0 0 15px;
    width: 20%;
}

.contact_info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 0 0 15px;
    width: 80%;
}

.Btn_Box{
    display: flex;
    margin: 5px 0 0 0;
    gap: 8px;
}

.Btn_Box button{
    display: flex;
    align-items: center;
    gap: 3px;
    border: 0;
    padding: 5px 12px;
    border-radius: 5px;
}

.DeleteBtn{
    background: darkred;
    color: white;
    box-shadow: 0 0 4px darkred;
}

.DeleteBtn:hover{
    background: white;
    color: darkred;
    cursor: pointer;
}
.EditBtn{
    background: #292826;
    color: #F9D342;
    box-shadow: 0 0 4px #292826;
}

.EditBtn:hover{
    background: white;
    color: #292826;
    cursor: pointer;
}